.home-page {
  padding: 50px 0 200px 0;
  min-height: 100vh;
}

.blocks-container {
  margin-top: 40px;
}

.load-button-container {
  text-align: right;
}

.load-button-container > button {
  border-radius: 2px;
  height: 48px;
  background-color: #443F52;
  width: 120px;
  color: #F4F7F8;
  text-transform: uppercase;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  outline: none;
}

.load-button > button:hover {
  background-color: #201D2C;
}

.loading-blocks {
  padding: 80px;
  text-align: center;
  font-size: 3em;
}

.loading-blocks p {
  padding-top: 20px;
  font-size: .7em;
}

.fa {
  margin-left: -12px;
  margin-right: 8px;
}
