.error {
  text-align: center;
  padding: 15px;
}

.error h1 {
  color: #424242;
  font-size: 1.74em;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 2px;
}

.error p {
  font-size: .87em;
  color: #555555;
}

.error .fa-exclamation-triangle {
  color: #D84315;
  font-size: 1.5em;
}