.block-list {
  margin: 30px 0;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.list-row {
  background-color: #fff;
}

.list-row:hover {
  background-color: #CFDEE8;
  cursor: pointer;
}

.list-row .list-cell {
  display: inline-block;
  color: #666666;
  padding: 20px;
  line-height: 1.5;
  text-align: left;
  border-bottom: 1px solid #f2f2f2;
  word-break: break-all;
}

.list-row.list-header .list-cell {
  color: #ffffff;
  background-color: #443F52;
}

.list-row.list-header:hover {
  cursor: default;
}

.list-row .list-cell:nth-child(1) {
  width: 15%;
}

.list-row .list-cell:nth-child(2) {
  width: 50%;
}

.list-row .list-cell:nth-child(3) {
  width: 20%;
}

.list-row .list-cell:nth-child(4) {
  width: 15%;
}

@media screen and (max-width: 768px) {
  .list-row {
    border-bottom: 1px solid #f2f2f2;
  }

  .list-row.list-header .list-cell {
    display: none;
  }

  .list-row .list-cell:before {
    color: #808080;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 2px;
    content: attr(data-title);
    display: block;
    font-weight: 400;
  }

  .list-row .list-cell {
    display: block;
    min-width: 100%;
    font-size: .86em;
    border: none;
    padding: 5px 20px;
    color: #555555;
    line-height: 1.5;
  }

}